@import url('https://fonts.googleapis.com/css2?family=Play');
@import url('https://fonts.googleapis.com/css2?family=Itim');
@import url('https://fonts.googleapis.com/css2?family=Rubik');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./images/homebg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primary-color: #141414;
    --secondry-color: #191919;
    --third-color: #323232;
    --fourth-color: #ffffff;
    --fifth-color: #22c55e;

    /*fonts*/
    /* --primary-font: Play; */
    --primary-font: Itim;
    --secondry-font: Rubik;
}

.row {
    width: 1200px;
    margin: auto;
    padding: 150px 0 100px 0;
}

.column {
    background-color: var(--fourth-color);
    flex: 1;
    border-radius: 10px;
}

.box {
    padding: 30px;
}

.nav-column {
    background-color: var(--fourth-color);
    border-radius: 10px;
    padding: 12px;
    width: 10%;
    margin-bottom: auto;
}

.left-column {
    background-color: var(--fourth-color);
    width: 25%;
    padding: 0 20px 20px 20px;
    border-radius: 10px;
    text-align: center;
    margin-top: 112;
    margin-bottom: auto;

    img {
        width: 224px;
        border-radius: 10px;
        margin-top: -112px;
    }

    .social-col {
        margin: auto;
        text-align: center;
        align-items: center;
        padding: 0 60px;
    }

    .social-col img {
        width: 35px;
        margin: 20px 5px;
    }

    .contact-info {
        background-color: rgba(20, 20, 20, 0.2);
        padding: 15px;
        margin: 5px 0;
    }

    .contact-info img {
        width: 30px;
        height: 30px;
        margin: 10px 0;
        border-radius: 0px;
    }
}

.center-column {
    width: 100%;
    padding: 40px;
}

.d-flex {
    display: flex;
}

.flex {
    display: flex;
}

navbar ul {
    list-style: none;
    text-align: center;
}

navbar ul li {
    padding: 0 12px;
    /* border-bottom: 2px solid var(--third-color); */
}

.devider {
    padding: 1px;
    background-color: var(--fifth-color);
    margin: auto 0;
    height: 2px;
    flex:1;
}

p {
    font-family: var(--secondry-font);
    line-height: 2;
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: var(--primary-color);
}

intro {
    font-family: var(--secondry-font);
    line-height: 2;
    font-size: 16px;
    color: var(--primary-color);
    padding: 6px 10px;
    margin: auto;
    background-color: rgba(20, 20, 20, 0.2);
    border-radius: 6px;
}

h1 {
    font-family: var(--primary-font);
    line-height: 1.5;
    font-size: 37px;
    font-weight: 500;
    margin: 10px 0;
    padding: 0;
    color: var(--fifth-color);
    /* text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); */
}

h2 {
    font-family: var(--primary-font);
    line-height: 1.5;
    font-size: 35px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: var(--primary-color);
}

h3 {
    font-family: var(--primary-font);
    line-height: 1.5;
    font-size: 23px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    color: var(--fourth-color);
}

ul li img {
    background-color: var(--fourth-color);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    padding: 7px;
    width:70px;
    margin: 5px 0;
}

ul li img:hover {
    background-color: var(--fifth-color);
    transform: scale(1.1);
}

.gap {
    gap:20px;
}