@media only screen and (max-width: 1024px) {
    .d-flex {
        flex-direction: column;
    }

    .row {
        padding: 40px 30px;
    }

    /* h1 {font-size: 50px;} */
    /* h2 {font-size: 40px;} */
    /* h3 {font-size: 27px;} */

    .img {width: 400px; margin-bottom: 30px;}

    .herohead {flex-direction: column-reverse;}

    .hero {margin: 0;}

    .skilling,
.learning {text-align: left;}

.skilling {margin-top: 40px;}

.learning {margin-bottom: 40px;}

.contact {max-width: 100%;}

.form {padding: 0;}
}