@import url('https://fonts.googleapis.com/css2?family=Play');
@import url('https://fonts.googleapis.com/css2?family=Itim');
@import url('https://fonts.googleapis.com/css2?family=Rubik');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
}

html {
    scroll-behavior: smooth;
  }

:root {
    --primary-color: #141414;
    --secondry-color: #191919;
    --third-color: #323232;
    --fourth-color: #ffffff;
    --fifth-color: #22c55e;

    /*fonts*/
    /* --primary-font: Play; */
    --primary-font: Itim;
    --secondry-font: Rubik;
}

.row {
    width: 1280px;
    margin: auto;
    padding: 6% 0;
}

.devider {
    padding: 1px;
    background-color: white;
    margin: auto 5px;
    height: 15px;
}

.header {
    background-color: var(--third-color);
    position: sticky;
    top: 0;
    z-index: 1;
}

ul {
    list-style: none;
    text-align: center;
}

ul li {
    padding: 0 12px;
border-bottom: 2px solid var(--third-color);

}

ul li:hover {
border-bottom: 2px solid var(--fifth-color);
}

ul a {
    text-decoration: none;
}

.head {
    width: 1280px;
    margin: auto;
    padding: 25px 0;
}

.column {
    flex: 1;
}

.d-flex {
    display: flex;
}

.flex {
    display: flex;
}

p {
    font-family: var(--secondry-font);
    line-height: 2;
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: var(--fourth-color);
}

h1 {
    font-family: var(--primary-font);
    line-height: 1.5;
    font-size: 45px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    color: var(--fourth-color);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

h2 {
    font-family: var(--primary-font);
    line-height: 1.5;
    font-size: 35px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: var(--fourth-color);
}

h3 {
    font-family: var(--primary-font);
    line-height: 1.5;
    font-size: 23px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    color: var(--fourth-color);
}

.img {
    width: 600px;
}

.hero {
    margin: auto;
}

.skillsbg {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/skills.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

button {
    font-family: var(--secondry-font);
    line-height: 2;
    font-size: 18px;
    font-weight: 500;
    padding: 3px 20px;
    border-radius: 5px;
    cursor: pointer;
    color: var(--fourth-color);
}

.button1 {
    background-color: transparent;
    margin: 10px 0 0 0;
    border: 2px dotted #7C3AED;
}

.button1:hover {
    background-color: #7C3AED;
}

.download {
    background-color: var(--third-color);
    box-shadow: none;
    border: 2px solid var(--fifth-color);
    margin: 0;
}

.download:hover {
    background-color: var(--primary-color);
    border: 2px solid var(--fourth-color);
}

.skills {
    background-color: var(--third-color);
    margin: 5px 0;
    padding: 20px;
    border-radius: 10px;
}

.skills para {
    font-family: var(--secondry-font);
    line-height: 1.3;
    font-size: 40px;
    font-weight: 500;
}

.skills h3 {
    margin: auto 0 auto 10px;
}

.skillimg img {
    height: 350px;
}

.skillimg,
.learnimg {
    text-align: center;
}

.gap {
    gap: 15px;
}

.learnimg img {
    height: 450px;
}

.edu {
    background-color: white;
    padding: 2px;
    width: 125px;
    margin-bottom: 15px;
}

hr {
    margin: 15px 0;
}

a {
    color: var(--fifth-color);
}

.contact {
    max-width: 37%;
}

form input,
textarea {
    background-color: var(--third-color);
    border: 1px solid white;
    padding: 12px;
    width: 100%;
    border-radius: 5px;
    margin: 5px 0;
    color: white;
}

.submit {
    background-color: var(--fifth-color);
    color: var(--primary-color);
    border: none;
    margin-top: 10px;
}

.submit:hover {
    background-color: var(--fourth-color);
}

.form {
    padding-left: 20px;
}

iframe {
    width: 100%;
    height: 350px;
    margin-bottom: 10px;
}