.header-container {
    background-color: #323232;
	margin:0px;
}

.header-row {
    display: flex;
    flex-wrap: nowrap;
    padding-top: 20px;
	padding-bottom: 20px;
	max-width:1280px;
	margin:auto;
    justify-content: space-between;
}

.header-column {
    width: 100%;
}

.logo{
    width: 50px;
}

.sticky-header {
    position: sticky;
    top: 0;
    z-index: 1000; /* Make sure the z-index is higher than other elements on the page */
  }

  /* .navbar {
    overflow: hidden;
    background-color: #333;
  }

  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .navbar a:hover{
    background-color: red;
  } */