.hero-row {
	margin:auto;
	width:auto;
	background-image: url("/image/img-02.jpg");
	height: auto;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
    padding-top: 10%;
    padding-bottom: 10%;
}

.row2 {
    display: flex;
    flex-wrap: nowrap;
	max-width:1280px;
	margin:auto;
}

.column2 {
    width: 100%;
    margin: auto;
    box-align: center;
	/* background-color: fff; */
}

h1 {
	font-family: Comfortaa;
	font-size: 55px;
	line-height: 1.5;
	color:white;
}

h2 {
	font-family: Comfortaa;
	font-size: 32px;
	line-height: 1.5;
	color:white;
}

h3 {
	font-family: Comfortaa;
	font-size: 26px;
	line-height: 1.5;
	color:white;
}

p {
	font-family: Rubik;
	font-size: 16px;
	line-height: 2;
	color:white;
}

p2 {
	font-family: Comfortaa;
	font-size: 20px;
	line-height: 2;
	color:white;
	font-weight: 600;
}

img {
border-radius: 150px;
width: 400px;
float: right;
}


@media only screen and (max-width:769px) {

	.hero-row {
		padding-top: 5%;
		padding-bottom: 5%;
	}

	img {
		border-radius: 150px;
		width: 300px;
		float: left;
		}

	.row2 {
		flex-direction:column !important;
        flex-wrap: wrap;
		display: flex;
		flex-wrap: nowrap;
		width:auto ;
		margin:auto;
	}
	
	.column2 {
		width: auto;
		margin: auto;
		box-align: center;
		padding: 15px;
	}
	
	h1 {
		font-family: Comfortaa;
		font-size: 35px;
		line-height: 1.5;
		color:white;
	}
	
	h2 {
		font-family: Comfortaa;
		font-size: 27px;
		line-height: 1.5;
		color:white;
	}
	
	h3 {
		font-family: Comfortaa;
		font-size: 23px;
		line-height: 1.5;
		color:white;
	}
	
	p {
		font-family: Rubik;
		font-size: 16px;
		line-height: 2;
		color:white;
	}
	
	p2 {
		font-family: Comfortaa;
		font-size: 17px;
		line-height: 2;
		color:white;
		font-weight: 600;
	}

}