.hero-row {
	margin:auto;
	width:auto;
	background-image: url("../image/Curve\ Line.svg");
	height: auto;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
    
}

.row2 {
    display: flex;
    flex-wrap: nowrap;
	max-width:1280px;
	margin:auto;
}

.column2 {
    width: 100%;
    margin: auto;
    box-align: center;
	/* background-color: fff; */
}

h1, h2, h3, h4, p2, p3 { font-family: Rokkitt; line-height: 1.5; color:white; font-weight:400; }

h1 {
	
	font-size: 54px;
	
	
}

h2 {
	
	font-size: 32px;
	
}

h3 {
	
	font-size: 25px;
	
}

p {
	font-family: Rubik;
	font-size: 16px;
	line-height: 2;
	color:white;
}

p2 {
	
	font-size: 22px;
	
}
p3 {
	
	font-size: 18px;
	
}

.img2 {
width: 375px;
display: block;
margin: auto;
}

