@media (max-width:992px) {
	.row {
		flex-direction: column !important;
		flex-wrap: wrap;
		padding-right: 4%;
		padding-left: 4%;
		padding-top: 4%;
		padding-bottom: 4%;
	}

	h1 { font-size: 70px; }
	h2 { font-size: 40px; }
	h3 { font-size: 25px; }
	p { font-size: 16px; }
	p2 { font-size: 32px; }
	#element, #element2 { font-size: 30px; }

	.column { padding: 0px !important; }

	#img { width:50% }

	#about { width: auto !important; margin-bottom: 20px; }

	#skillinfo {
		width: 100%;
		flex-direction: row !important;
		flex-wrap: nowrap;
		column-count: 3;
		;
	}

	#c2 { padding: 20px !important; }

	.skills { margin-top: 15px; width: 100px; }


	.row2 {
		flex-direction: column !important;
		flex-wrap: wrap;
		padding-right: 4%;
		padding-left: 4%;
		padding-top: 10%;
		padding-bottom: 0%;
		text-align: center;
		flex-direction: column-reverse;
	}

	.button {
		margin-left: auto;
		margin-right: auto;
		margin-top: 15px;
		margin-bottom: 15px;
	}

	#footer { margin-top: 30px; }
	.social-icons { top: 75%; }
	.icon { font-size: 50px !important; padding: 12px !important; }

	.hero-row {
		height: 1300px;
	}

	.img2 {   margin-bottom: 0px; margin-right: auto; }
	#hero-col { padding-bottom: 10%; }

}
