/* common css */
body { background-color: #141414; }

.container { margin:0px; }

.row
{
  display: flex;
  flex-wrap: nowrap;
  padding-top: 6%;
	padding-bottom: 6%;
	max-width:1280px;
	margin:auto;
  justify-content: space-between;
}

.column { width: 100%; }

div { column-gap: 20px; }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

ul.a { list-style-type: arrow; }

/* common css end */

/* header */

.sticky-header
{
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header-container
{
  background-color: #333647;
	margin:0px;
}

.logo { width: 50px; }

/* header end */

/* footer */

.logo1{
  width: 100px;
  display:block;
  margin-left: auto;
  margin-right:auto;
}

a:link {
  color:E8c740;
}

a:hover {
  color:DEAD1A;
}

/* footer end */

#contact
{
  margin:auto;
	width:auto;
	background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../image/img05.jpg");
	height: auto;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}



.c2 {
    
    width: 100%;
    padding: 20px;
    margin-top: 15px;
    display: flex;
    flex-wrap: nowrap;
}



  

  .skills {
    width: 128px;
    margin: 5px;
  }

  .work {
    width: 230px;
    margin: 5px;
  }

