/* common css */
body { background-color: #141414; }

.container { margin: 0px; }

h1, h2, h3, h4, p2, p3 {
  font-family: Rokkitt;
  line-height: 1.5;
  color: white;
  font-weight: 400;
}


#element, #element2 {
  font-family: Rubik;
  line-height: 1.5;
  color: white;
  font-weight: 400;
  font-size: 22px;
}

h1 {
  font-size: 60px;
  opacity: 0;
  animation: slideFromLeft 2.5s linear forwards;
}

h2 { font-size: 45px; }
h3 { font-size: 32px; }
p2 { font-size: 25px; }
p3 { font-size: 22px; }

@keyframes slideFromLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

p, .button {
  font-family: Rubik;
  font-size: 16px;
  line-height: 2;
  color: white;
}

.row {
  display: flex;
  flex-wrap: nowrap;
  padding-top: 7%;
  padding-bottom: 7%;
  max-width: 1280px;
  margin: auto;
  justify-content: space-between;
}

.column { width: 100%; }

div { column-gap: 20px; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul.a { list-style-type: arrow; }

.c2 {
  background-color: #333647;
  width: 100%;
  padding: 20px;
  margin-top: 15px;
  display: flex;
  flex-wrap: nowrap;
}

#c2 {
  background-color: #333647;
  width: 100%;
  padding: 20px;
  margin-top: 15px;
}

.skills {
  width: 125px;
  display: block;
  margin: auto;
  border-radius: 5px;
}

.skills:hover {
  -ms-transform: scale(1.5);
  /* IE 9 */
  -webkit-transform: scale(1.5);
  /* Safari 3-8 */
  transform: scale(1.2);
}

#img { width: 100%; border-radius: 10px; }

#about { width: 65%; }

/* common css end */

/* header */

.sticky-header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header-container {
  background-color: #141414;
  margin: 0px;
}

.logo { width: 50px; }

/* header end */

/* nav bar */

#nav { margin:left: auto; Margin-right: auto; }
.navbar { margin:left: auto; Margin-right: auto; }
.navbar a {
  float: left;
  display: block;
  color: #fff;
  text-align: center;
  padding: 10px 15px;
  margin-right: 10px;
  text-decoration: none;
}

.navbar a:hover { background-color: #333647; color: #fff; }

.active { background-color: #333647; color: #fff; }

html { scroll-behavior: smooth; }

/* nav bar end here */

/* hero section */

.img2 {
  width: 500px;
  display: block;
  margin-left: auto;
}

.hero-row {
  margin: auto;
  width: auto;
  background-image: url("../image/Curve\ Line.svg");
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.row2 {
  display: flex;
  flex-wrap: nowrap;
  max-width: 1280px;
  margin: auto;
}

.column2 {
  width: 100%;
  margin: auto;
  box-align: center;
}

/* hero end here */


/* footer */

.logo1 {
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a:link { color: E8c740; }
a:hover { color: DEAD1A; }

/* footer end */

/*button*/

.button {

  background-color: #333647;
  padding: 10px 20px;
  width: 225px;
  height: auto;
  margin-top: 30px;
  border-radius: 25px;
  text-align: center;
  box-shadow: 0px 0px 3px 3px rgba(255, 255, 255, 0.4);
  transition-duration: 0.4s;
  text-decoration: none;
  /* display: inline-block; */
  cursor: pointer;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover {
  background-color: #fff;
  box-shadow: 0px 0px 3px 3px rgba(222, 173, 26, 0.4);
  color: #333647;
}

.button:hover span { padding-right: 25px; }

.button:hover span:after { opacity: 1; right: 0; }

/*button end here*/


/* gallery */

.gallery {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.box {
  flex-basis: 15%;
  width: 100%;
  /* pading: 10px; */
  margin-right: 0px;
  margin-bottom: 15px;
}

/* gallery end here */

#contact {
  margin: auto;
  width: auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../image/img05.jpg");
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.myWorks {
  display: none;
  width: 100%;
  height: 75%;
}

.work { width: 230px; margin: 5px; }

#skillset {
  padding: 20px;
  box-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 0.3);
  margin-bottom: 20px;
  border-radius: 5px;
}



.social-icons {
  position: fixed;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  z-index: 1000;
}

.social-icons .icon {
  display: block;
  margin-bottom: 10px;
  font-size: 25px;
  padding: 5px;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  transition: transform 0.3s ease-in-out;
}

.social-icons .icon:hover {
  transform: scale(1.2);
}

.social-icons .linkedin {
  background-color: #333647;
  color: #DEAD1A;
  /* background-color: #0077b5; */
}

.social-icons .twitter {
  background-color: #333647;
  color: #DEAD1A;
  /* background-color: #55acee;  */
}

.social-icons .instagram {
  background-color: #333647;
  color: #DEAD1A;
  /* background-color: #e4405f;  */
}

.social-icons .whatsapp {
  background-color: #333647;
  color: #DEAD1A;
  /* background-color: #128C7E;  */
}

.social-icons .email {
  background-color: #333647;
  color: #DEAD1A;
  /* background-color: #EA4335;  */
}

.social-icons .phone {
  background-color: #333647;
  color: #DEAD1A;
  /* background-color: #309BE3;  */
}